<h1>Edit Photo <%= @id_to_edit %></h1>

<form action="/update_photo/#{id_to_edit}">
<label>
  Image URL
</label for="url">
<input type="text" value="<%= @my_photo.source %>" id="url" name="the_source2">

<label for="Caption">
  Caption
</label>
<input type="text"  value="<%= @my_photo.caption %>" id="source" name="the_caption2">

<button>Update Photo</button>
</form>>
