
<!DOCTYPE html>
<html>
<head>
  <title>Photogram Golden Seven</title>
  <style>
  body{
    max-width: 900px;
    padding-left: 100px;
  }
  /*p    {color: red;}*/
  </style>
</head>
<body>

  <h1>All Photos</h1>

  <a href="/photos/new">
    Add a new photo
  </a>

  <% @list_of_all_my_photos.each do |photo_singular| %>
  <!-- equal sign means evaluate and spit out the result in the html -->
  <div class="thumbnail">
    <img src="<%= photo_singular.source %>">

    <div class="caption">
      <a href="/photos/<%= photo_singular.id%>" class="btn btn-default btn-block">
        Show Details
      </a>
      <a href="/photos/<%= photo_singular.id%>/edit" class="btn btn-default btn-block">
        Edit
      </a>
      <a href="/delete_photo/<%= photo_singular.id%>" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  <% end %>

</body>
</html>
