<h1>Add a new foto</h1>

<form action="/create_photo">
  <!-- MAKE SURE TO ADD LABELS HERE -->
  <label for="Caption">
    Caption
  </label>
  <input type="text" id="Caption" name="the_caption">

  <label for="Image URL">
    Image URL
  </label>
  <input type="text" id="Image URL" name="the_source">
  <button name="Create Photo">Create Photo</button>





</form>>
