<h1>Add a new foto</h1>

<form action="/create_photo">
  <!-- MAKE SURE TO ADD LABELS HERE -->
  <label>
    the_caption
  </label for="caption">
  <input type="text" id="caption" name="the_caption">
  <label for="source">
    the_source
  </label>
  <input type="text" id="source" name="the_source">
  <button>Add Photo</button>
  




</form>>
